#searchview{
    margin: 5%;
    padding: 1%;
    width: 90%;
}

body{
    background-color: #eeeeee;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 1%;
}

.checkbox{
    margin: 0%;
    padding: 0%;
}

.checkbox > .dcheckbox{
    width: 90%;
}

.checkbox > label{
    width:90px;
}

strong{
    height: auto;
    margin: auto;
}

select {
    text-align: center;
    font-size:90%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1%;
}

select > option{
    font-size: 80%;
    text-align: center;
}

.row{
    padding:5px;
    margin: 1px;
    text-align: center;
}

.showback {
    margin-top: 5%; 
    margin-left: 8%;
    margin-right:8%; 
	background: #ffffff;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 1px 3px 2px #aab2bd;
}

tr > td{
    height: 60px;
}

tr>td:first-child{
    min-width: 100px;
}



@media  screen and (min-width: 800px){
    select {
    text-align: center;
    font-size:15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1%;
}

select > option{
    font-size: 12px;
    text-align: center;
}
}